---
- name: Enable systemd in WSL
  community.general.ini_file:
    path: /etc/wsl.conf
    section: boot
    option: systemd
    value: "true"
    mode: "0644"
  become: true

- name: Get Windows Username
  ansible.builtin.command: cmd.exe /c "echo %USERNAME%"
  register: wsl_win_username_cmd
  changed_when: false
  failed_when: false

- name: Create winhome symlink
  ansible.builtin.file:
    src: "/mnt/c/Users/{{ wsl_win_username_cmd.stdout | trim }}"
    dest: "{{ ansible_facts['user_dir'] }}/winhome"
    state: link
  when: wsl_win_username_cmd.rc == 0

- name: Copy mount-z script
  ansible.builtin.copy:
    src: mount-z.sh
    dest: /usr/local/bin/mount-z.sh
    mode: "0755"
  become: true

- name: Create mount-z systemd service
  ansible.builtin.copy:
    src: mount-z.service
    dest: /etc/systemd/system/mount-z.service
    mode: "0644"
  become: true
  notify: Restart mount-z

- name: Create mount-z config file
  ansible.builtin.template:
    src: mount-z.env.j2
    dest: /etc/default/mount-z
    mode: "0600"
  become: true
  notify: Restart mount-z

- name: Enable and start mount-z service
  ansible.builtin.systemd:
    name: mount-z.service
    enabled: true
    state: started
    daemon_reload: true
  become: true
