---
- name: Install dependencies for building Arch packages
  community.general.pacman:
    name:
      - base-devel
      - git
    state: present

- name: Check if pamac is installed
  ansible.builtin.command: pamac --version
  register: pamac_check
  ignore_errors: true
  changed_when: false

- name: Bootstrap pamac if not present
  when: pamac_check.rc != 0
  block:
    - name: Create temporary build directory
      ansible.builtin.tempfile:
        state: directory
        suffix: aur_build
      register: pamac_build_dir

    - name: Clone paru-bin (temporary AUR helper)
      ansible.builtin.git:
        repo: "https://aur.archlinux.org/paru-bin.git"
        dest: "{{ pamac_build_dir.path }}/paru-bin"
        version: master

    - name: Build and install paru-bin
      ansible.builtin.command: makepkg -si --noconfirm
      args:
        chdir: "{{ pamac_build_dir.path }}/paru-bin"
      become: false # makepkg cannot be run as root
      changed_when: true

    - name: Install pamac-all using paru
      ansible.builtin.command: paru -S --noconfirm pamac-all
      become: false
      changed_when: true

    - name: Cleanup build directory
      ansible.builtin.file:
        path: "{{ pamac_build_dir.path }}"
        state: absent

- name: Ensure pamac is functional
  ansible.builtin.command: pamac --version
  changed_when: false
